@use "variables" as *;
@import "~shoyo/dist/main.css";

:root,
html,
body {
  background-color: $bg;
  font-size: 14px;
}
.content {
  padding-top: 60px;
}
.btn {
  background-color: $pr;
  &:hover {
    background-color: mix(black, $pr, 10%);
  }
}
